.musicPaperContainer {
  /* background-color: cornsilk; */
	position: relative;
	height: 21em;
	overflow: scroll;
	overflow-y: hidden;
	white-space:nowrap;
}
.five-lines {
  /* background-color: white; */
  position: relative;
  top: 6em;
}
.treble-clef {
  position: absolute;
  width: 2.2em;
}
.musicNotePrint {
	position: absolute;
}
.musicNotePrint > span {
	position: relative;
}
.musicNotePrint > span > img {
	height: 4.2em;
	position: relative;
  left: 3em;
  margin-bottom: 10em;
}
.horizontal-line {
	position: absolute;
	background-color: rgb(59, 59, 59);
	border-radius: 1px;
	height: 2px;
	width: 2em;
	left: 2.6em;
	top: -2.65em;
}
