.title{
	margin: 1em;
	text-align: center;
	color:rgb(66, 66, 66);
	letter-spacing: -1px;
}
.emoji{
	font-size: xx-large;
	margin-left: 0.3em;
	margin-right: 0.3em;
}
.btnsContainer{
	text-align: center;
}
Button{
	margin-left: 0.3em;
	margin-right: 0.3em;
}
.fileInputContainer{
  width: 15em;
  margin: 2em auto;
}
.musicPaperContainer {
  /* background-color: cornsilk; */
	position: relative;
	height: 17em;
	overflow: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.five-lines {
  /* background-color: white;def */
  position: relative;
  top: 3em;
}
.treble-clef {
	position: absolute;
	top: -1em;
	left: 1em;
  width: 2.2em;
}
.musicNotePrint {
	position: absolute;
	left: 2em;
}
.musicNotePrint > span {
	position: relative;
}
.musicNotePrint > span > img {
	height: 4.2em;
	position: relative;
  left: 3em;
  margin-bottom: 10em;
}
.horizontal-line {
	position: absolute;
	background-color: rgb(59, 59, 59);
	border-radius: 1px;
	height: 2px;
	width: 2em;
	left: 2.6em;
	top: -2.65em;
}
